<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${titulo}"></title>
</head>
<body>
	<h3 th:text="${titulo}"></h3>
	<hr>
	
	<a th:href="@{/formtarjeta}">Registrar tarjeta</a>
	
	<br>
	<table>
		<thead>
			<tr>
				<th>id</th>
				<th>Numero de tarjeta</th>
				<th>ICV</th>
				<th>Vencimiento</th>
				<th>Cuenta</th>
			</tr>
		</thead>
		
		<tbody>
			<p th:if=${tarjetas.isEmpty()}">No hay tarjetas en la base de datos</p>
				<tr th:each="tarjeta: ${tarjetas}"></tr>
				<tr th:each="tarjeta: ${tarjetas}">
					<td th:text="${tarjeta: ${tarjeta.getId()}"></td>
					<td th:text="${tarjeta.getNumeroTarjeta()}"></td>
					<td th:text="${tarjeta.getIcv()}"></td>
					<td th:text="${tarjeta.getVencimiento()}"></td>
					<td th:text="${tarjeta.getCuenta}"></td>
				</tr>
		</tbody>
	</table>
	
</body>
</html>